/* Global */

:root {
    --success-color: #93c47d;
    --warning-color: #f2ca4e;
    --information-color: #17a2b8;
    --primary-color: #2b78e4;
    --secondary-color: #cccccc;
    --dark-color: #000000;
    --light-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.row {
    display: flex;
    gap: 1.5em;
}

.flex-list {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.card {
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em;
}

.card-header,
.card-body {
    padding: .5em 0;
}

.btn {
    border: 1px solid var(--dark-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: .4em 1em;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn-full {
    width: 100%;
}

.btn-warning {
    background-color: var(--warning-color);
    color: var(--dark-color);
}

.btn-success {
    background-color: var(--success-color);
    color: var(--dark-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.link {
    font-weight: bold;
    text-decoration: underline;
}

.link-primary {
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-italic {
    font-style: italic;
}

.fw-bold {
    font-weight: bold;
}

.fw-regular {
    font-weight: normal;
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.form-control {
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    padding: .375em 1em .375em .8em;
}

.form-control:focus-visible {
    outline: var(--secondary-color) solid 1px;
}

.icon-lg {
    font-size: 4em;
}

.title-lg {
    padding: .5em 0;
}

/* Custom */

.nav {
    padding: 1em;
}

.nav-title {
    color: var(--light-color);
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: .5em;
    text-decoration: none;
}

.btn-like {
    margin: 0 0 0 1em;
}